#container {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    background-color: #000000;
    color: #FFFFFF;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 120vh;
    min-height: 100vh;
    max-height: 100vh;
    z-index: 800000;
    opacity: 1;
}

img {
    position: absolute;
    z-index: 200001;
}

.img-landscape {
    width: auto;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.img-portrait {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: auto;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#label {
    background-color: #434343;
    color: #FFFFFF;
    opacity: .85;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    margin: 0;
    z-index: 200002;
}